In [27]:
import numpy as np
import pandas as pd
from OLG_model_src import Parameters2, OLG
import altair as alt


%load_ext autoreload
%autoreload 2

hello
20 0 3035.0 10408.0
20 1 3619.0 10782.929138051577
20 2 4247.0 11226.501596732198
20 3 4695.0 11742.937805766776
20 4 5358.0 12309.308746991988
20 5 6092.0 12950.475633778062
20 6 6857.0 13673.583178591454
20 7 7428.0 14480.860809584645
20 8 7851.0 15348.17630908327
20 9 8430.0 16257.287109813788
20 10 8904.0 17225.287932185165
20 11 9248.0 18239.10310238786
20 12 9404.0 19283.13936326992
20 13 9968.0 20335.689069675915
20 14 10408.0 21441.721362121287
20 15 10782.929138051577 22586.506092876694
20 16 11226.501596732198 23762.097660164687
20 17 11742.937805766776 24975.187933241657
20 18 12309.308746991988 26232.72151405937
20 19 12950.475633778062 27538.998277154813
90 0 13673.583178591454 28900.787415199575
90 1 14480.860809584645 30325.38541711195
90 2 15348.17630908327 31820.08107020429
90 3 16257.287109813788 33389.45132144477
90 4 17225.287932185165 35036.05119043373
90 5 18239.10310238786 36764.02927229649
90 6 19283.13936326992 38576.06418896407
90 7 20335.689069675915 40473.16750586321
90 8 21441.721362121287 42454.14844762527
90 9 22586.506092876694 44522.12864867501
90 10 23762.097660164687 46678.6680970114
90 11 24975.187933241657 48924.46335557928
90 12 26232.72151405937 51260.74756078816
90 13 27538.998277154813 53689.287923510594
90 14 28900.787415199575 56212.11657322683
90 15 30325.38541711195 58831.73774197535
90 16 31820.08107020429 61551.14885393226
90 17 33389.45132144477 64373.81160629418
90 18 35036.05119043373 67303.3858275978
90 19 36764.02927229649 70343.53631905236
90 20 38576.06418896407 73498.05970326709
90 21 40473.16750586321 76770.74366167035
90 22 42454.14844762527 80165.21675322982
90 23 44522.12864867501 83684.76192085403
90 24 46678.6680970114 87332.6744359636
90 25 48924.46335557928 91112.12337599749
90 26 51260.74756078816 95026.07651364093
90 27 53689.287923510594 99077.34002799491
90 28 56212.11657322683 103268.59542512268
90 29 58831.73774197535 107602.41312388383
90 30 61551.14885393226 112081.28053323136
90 31 64373.81160629418 116707.62943098156
90 32 67303.3858275978 121483.85881123168
90 33 70343.53631905236 126412.33599701161
90 34 73498.05970326709 131495.3828368173
90 35 76770.74366167035 136735.27092050065
90 36 80165.21675322982 142134.20625831845
90 37 83684.76192085403 147694.3035869618
90 38 87332.6744359636 153417.54869090463
90 39 91112.12337599749 159305.7865293072
90 40 95026.07651364093 165360.70009768396
90 41 99077.34002799491 171583.78498113516
90 42 103268.59542512268 177976.32744353256
90 43 107602.41312388383 184539.3856447952
90 44 112081.28053323136 191273.77231152004
90 45 116707.62943098156 198180.0396750465
90 46 121483.85881123168 205258.46647160812
90 47 126412.33599701161 212509.04657519964
90 48 131495.3828368173 219931.47785435707
90 49 136735.27092050065 227525.15038500808
90 50 142134.20625831845 235289.13461164667
90 51 147694.3035869618 243222.16889650247
90 52 153417.54869090463 251322.64597671689
90 53 159305.7865293072 259588.59783295216
90 54 165360.70009768396 268017.6805535523
90 55 171583.78498113516 276607.15878190356
90 56 177976.32744353256 285353.88965006743
90 57 184539.3856447952 294254.30652322597
90 58 191273.77231152004 303304.40283553186
90 59 198180.0396750465 312499.71619625966
90 60 205258.46647160812 321835.3129736611
90 61 212509.04657519964 331305.7735390978
90 62 219931.47785435707 340905.1783206637
90 63 227525.15038500808 350627.0947421782
90 64 235289.13461164667 360464.5650843914
90 65 243222.16889650247 370410.09533463785
90 66 251322.64597671689 380455.6450683829
90 67 259588.59783295216 390592.6183908895
90 68 268017.6805535523 400811.8559550804
90 69 276607.15878190356 411103.62814325857
90 70 285353.88965006743 421457.62948494166
90 71 294254.30652322597 431862.9743823578
90 72 303304.40283553186 442308.1942301458
90 73 312499.71619625966 452781.23602677544
90 74 321835.3129736611 463269.4625805876
90 75 331305.7735390978 473759.6544182834
90 76 340905.1783206637 484238.013506232
90 77 350627.0947421782 494690.16889506904
90 78 360464.5650843914 505101.18439482874
90 79 370410.09533463785 515455.56838291616
90 80 380455.6450683829 525737.285842818
90 81 390592.6183908895 535929.7727259216
90 82 400811.8559550804 546015.9527225511
90 83 411103.62814325857 555978.2565215514
90 84 421457.62948494166 565798.6436325561
90 85 431862.9743823578 575458.6268388486
90 86 442308.1942301458 584939.2993419275
90 87 452781.23602677544 594221.3646518459
90 88 463269.4625805876 603285.1692699048
90 89 473759.6544182834 612110.7382021408
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [28]:
countrydata_df = pd.read_csv('C:/Users/User/git/covid19-sim/Resources/all_dates.csv', parse_dates=['date'])[['country', 'StringencyIndex', 'date', 'total_cases']]

In [32]:
countrydata_df.rename(columns={'total_cases':'I'}, inplace=True)#.query('country=="israel"')

In [33]:
scenario = {'t': {0: 20, 1: 20},
            'r0d': {0: 0, 1: 0}}

p = Parameters2(tau=14, 
                init_infected=100, 
                fi=0.25, 
                theta=0.0771, 
                countries=['israel'], 
                scenario=scenario, 
                critical_condition_rate=0.05,
                       recovery_rate=0.4, 
                critical_condition_time=10,
                       recovery_time=6
               )

In [34]:
# plese note that R is moving average
olg = OLG(countrydata_df, p)
#

C:\Users\User\Miniconda3\envs\py37\lib\site-packages\statsmodels\tsa\holtwinters.py:731: RuntimeWarning: invalid value encountered in greater_equal
  loc = initial_p >= ub

In [38]:
olg.df[23:35] ####

,date,country,StringencyIndex,r_values,R,I,A,dI,E,corona_days,prediction_ind,cur_I,Critical_condition,Recovery_Critical,Mortality_Critical
23,2020-04-05,israel,100.0,1.160552,1.160552,7851.000000,12629.970169,423.000000,20459.197295,24,0,7174.000000,118.0,14.0,20.0
24,2020-04-06,israel,100.0,1.401279,1.401279,8430.000000,11007.146563,579.000000,20957.597672,25,0,7725.000000,135.0,14.0,21.0
25,2020-04-07,israel,100.0,1.467924,1.467924,8904.000000,8916.984003,474.000000,21392.787180,26,0,8021.000000,NaN,18.0,26.0
26,2020-04-08,israel,100.0,1.384030,1.384030,9248.000000,5780.461738,344.000000,21734.314564,27,0,8177.000000,176.0,21.0,32.0
27,2020-04-09,israel,NaN,0.945624,0.945624,9404.000000,12888.233463,156.000000,22268.627075,28,0,7962.000000,206.0,29.0,43.0
28,2020-04-10,israel,NaN,1.369163,1.369163,9968.000000,10931.832252,564.000000,22746.187052,29,0,8038.000000,225.0,39.0,58.0
29,2020-04-11,israel,NaN,1.137336,1.137336,10408.000000,5343.831511,440.000000,23069.233718,30,1,8039.000000,257.0,47.0,71.0
30,2020-04-12,israel,NaN,NaN,0.500000,10516.392857,5703.403470,108.392857,23394.130768,31,1,7823.392857,290.0,54.0,81.0
31,2020-04-13,israel,NaN,NaN,0.491667,10643.488690,6083.456352,127.095833,23721.146342,32,1,7608.488690,326.0,NaN,NaN
32,2020-04-14,israel,NaN,NaN,0.483333,10790.111310,6351.474939,146.622619,24047.178497,33,1,7171.111310,350.0,70.0,105.0
33,2020-04-15,israel,NaN,NaN,0.475000,10949.405952,6738.431470,159.294643,24374.825136,34,1,6702.405952,359.0,82.0,124.0
34,2020-04-16,israel,NaN,NaN,0.466667,11128.005952,7158.370790,178.600000,24704.497513,35,1,6433.005952,386.0,90.0,135.0

In [ ]:
# var_in_multi_line selects one of the 3 variables: I, E, A in the country comparison plot
olg.plot_data(p.countries, var_in_multi_line='I')

In [ ]:
# due to sequantial days witout a change  some R_contagion_score behaved iradicly, so a limit of <10 on the variable was used 
# olg.plot_data_contagion_score()